<%= form_tag(:action => 'convert') do %>
	<div class="convert-input">
		<%= text_field_tag :long_url, params[:long_url], class: 'convert-input-fiels', placeholder: 'Your long URL', value: '' %>
		<%= submit_tag "SHORTEN IT!", class: 'generate-button' %>
	</div>
<% end %>