<div class="result">
	<div class="user-input-container">
		You entered: 
		<div class="user-input">
			<%= @user_input %>
		</div>
	</div>
	<div class="short-url-container">
		Your short url: 
		<div class="short-url">
			<%= @short_url %>
		</div>
	</div>
</div>