<% if @not_found %>
	<%= render 'not_found' %>
<% end %>
<div class="row">
	<div class="title">
		Shorten Your URL
	</div>	
</div>

<%= render 'convert' %>

<% if @show_result %>
	<%= render 'result' %>
<% end %>