body {
	font-family: sans-serif;
	font-weight: 100;
}

a {
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.flash-notice,
.flash-error,
.flash-success {
	position: absolute;
  top: 12%;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 20px 8px 20px;
  width: 40%;
  margin-left: 30%;
  text-align: center;
}

.flash-notice {
	color: black;
	border: 2px solid black;
}

.flash-error {
	color: #D8000C;
	border: 2px solid #D8000C;
}

.flash-success {
	color: #4F8A10;
	border: 2px solid #4F8A10;
}

.not-found {
	position: absolute;
	top: 13%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #B33A3A;
}

.title {
  margin-top: 16%;
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
}
.convert-input {
	display: inline;
	width: 60%;
	margin-left: 18%;
	input.convert-input-fiels {
		width: 50%;
	  outline: none;
	  border-top: none;
	  border-left: none;
	  border-right: none;
	  border-color: black;
	  border-width: 1px;
	  height: 30px;
	  font-size: initial;
	}
	.convert-input-fiels::-webkit-input-placeholder {
	   color: #999;
	   font-family: sans-serif;
	   font-weight: 100;
	}
	.convert-input-fiels:-moz-placeholder { /* Firefox 18- */
	   color: #999; 
	   font-family: sans-serif;
	   font-weight: 100; 
	}
	.convert-input-fiels::-moz-placeholder {  /* Firefox 19+ */
	   color: #999;
	   font-family: sans-serif;
	   font-weight: 100; 
	}
	.convert-input-fiels:-ms-input-placeholder {  
	   color: #999;
	   font-family: sans-serif;
	   font-weight: 100;  
	}
	.generate-button {
		margin-left: 20px;
		padding: 8px 15px 5px 15px;
		background: white; 
		border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }
  .generate-button:hover {
  	background: black;
  	color: white;
  	outline: none;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
  }
}

.user-input-container, 
.short-url-container {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  width: 90%;
  margin-left: 5%;
  .user-input, .short-url {
  	margin-top: 10px;
  }
}

.copy {
	background: black;
  color: white;
  font-size: small;
  padding: 5px 4px 2px 4px;
  vertical-align: middle;
  border-radius: 5px;
  margin-left: 5px;
}
.copy:hover {
	cursor: pointer;
}
